<div class="container">
    <form method="post" #formCadastro="ngForm" (ngSubmit)="salvar()">
        <div class="ui-g">
            <div class="ui-g-12">
                <h1>{{ editando ? 'Editando' : 'Novo' }} Profissional</h1>
            </div>

            <div class="ui-g-12 ui-md-12 ui-lg-12 ui-fluid">
                <label>Nome:</label>
                <input type="text" pInputText [(ngModel)]="profissional.nome" name="nome" />
            </div>

            <div class="ui-g-12 ui-md-12 ui-lg-6 ui-fluid">
                <label>Endereço:</label>
                <input type="text" pInputText [(ngModel)]="profissional.endereco" name="endereco" />
            </div>

            <div class="ui-g-12 ui-md-12 ui-lg-3 ui-fluid">
                <label>Telefone Fixo:</label>
                <p-inputMask mask="(999) 9999-9999" [(ngModel)]="profissional.telefoneFixo" name="telefoneFixo"></p-inputMask>
            </div>

            <div class="ui-g-12 ui-md-12 ui-lg-3 ui-fluid">
                <label>Telefone Celular:</label>
                <p-inputMask mask="(999) 9 9999-9999" [(ngModel)]="profissional.telefoneCelular" name="telefoneCelular"></p-inputMask>
            </div>
        </div>

        <div class="ui-g">
            <div class="ui-g-12">
                <button pButton label="Salvar" [disabled]="formCadastro.invalid" type="submit" class="ui-button-success"></button>
                <a routerLink="/profissionais" class="pull-right">Voltar</a>
            </div>
        </div>
    </form>
</div>
